{% extends 'base.html' %}

{% block context %}

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Pick your photo</h1>
    <div class="col-lg-6 p-5 bg-success bg-opacity-50 rounded-3 mx-auto">
       <form action = "/upload" method = "POST" enctype = "multipart/form-data">
       <input type = "file" name = "file" />
       <input type = "submit"/>
    </form>
      </div>
    </div>
  </div>



{% endblock %}