{% extends 'base.html' %}

{% block context %}

<div class="px-4 py-5 text-center">
    <a class="text-decoration-none" href="{{url_for('home')}}"> ⬅️ Back to home page</a>
    <hr />
    <h1 class="display-5 fw-bold">{{file_name}}</h1>
    <div class="col-lg-8 p-3  mx-auto">
      <img class="img-fluid mb-3"  src="{{full_path}}">
        <h3>Colors:</h3>
        {% for i in colors %}
          <div class="p-2 mt-3"  style="background-color: rgb{{i}} ">
              <p class="text-white">RGB: {{i}}</p>
        <button class="btn btn-primary" onClick="copyToClipboard('{{i}}')">Copy Color</button>

          </div>
        {% endfor %}

      </div>
    </div>

  </div>

{% block scripts %}

<script>
    function copyToClipboard(i) {
        navigator.clipboard.writeText(i)
    }
</script>

{% endblock %}

{% endblock %}


